server:
  port: ${PORT:8080}
  forward-headers-strategy: framework

spring:
  application:
    name: bibliotechApp

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL:jdbc:mysql://${MYSQLHOST:localhost}:${MYSQLPORT:3306}/${MYSQLDATABASE:bibliotech}}
    username: ${DB_USER:${MYSQLUSER:root}}
    password: ${DB_PASSWORD:${MYSQLPASSWORD:root}}

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
logging:
  level:
    root: WARN